In [1]:
import pandas as pd

In [5]:
ten = pd.read_csv('C:\\Users\\10200\\Desktop\\FIN3210\\project\\ten.csv')
ten

,ret,stk,date,pb,mv,rf,MarketCapRank,PB_Ratio,Size_Group,PB_Group,SMB,HML,ret_rf,rm,rmxrf
0,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.557,59.0,-0.774647,Small,Low,-2.030913,2.536882,-2.559786,-0.3627,-2.9197
1,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.557,59.0,-0.774647,Small,Low,-2.030913,2.536882,-2.559786,-0.3627,-2.9197
2,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.582,59.0,-0.774647,Small,Low,-2.030913,2.536882,-2.584786,-0.3627,-2.9447
3,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.665,59.0,-0.774647,Small,Low,-2.030913,2.536882,-2.667786,-0.3627,-3.0277
4,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.679,59.0,-0.774647,Small,Low,-2.030913,2.536882,-2.681786,-0.3627,-3.0417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17442,-0.036284,601898.SH,2021-08-03,-1.061111,0.093098,2.230,55.5,-1.061111,Small,Low,-1.478761,2.048176,-2.266284,-0.4703,-2.7003
17443,-0.036284,601898.SH,2021-08-03,-1.061111,0.093098,2.209,55.5,-1.061111,Small,Low,-1.478761,2.048176,-2.245284,-0.4703,-2.6793
17444,-0.036284,601898.SH,2021-08-03,-1.061111,0.093098,2.172,55.5,-1.061111,Small,Low,-1.478761,2.048176,-2.208284,-0.4703,-2.6423
17445,-0.036284,601898.SH,2021-08-03,-1.061111,0.093098,2.130,55.5,-1.061111,Small,Low,-1.478761,2.048176,-2.166284,-0.4703,-2.6003
17446,-0.036284,601898.SH,2021-08-03,-1.061111,0.093098,2.112,55.5,-1.061111,Small,Low,-1.478761,2.048176,-2.148284,-0.4703,-2.5823

In [6]:
ten['stk'].value_counts()

stk
002352.SZ    1918
000651.SZ    1897
600276.SH    1886
000425.SZ    1782
000100.SZ    1743
601898.SH    1730
002466.SZ    1715
600048.SH    1658
600887.SH    1644
600519.SH    1474
Name: count, dtype: int64

In [7]:
risk = pd.read_csv("C:\\Users\\10200\\Desktop\\risk_factor.gz")
value = pd.read_csv("C:\\Users\\10200\\Desktop\\value_factor_cleaned.gz")
trade = pd.read_csv("C:\\Users\\10200\\Desktop\\trade_factor.gz")
fa = pd.read_csv("C:\\Users\\10200\\Desktop\\fa_factor.gz")
risk

,S_INFO_WINDCODE,TRADE_DT,Variance20,Skewness20,Kurtosis20,SharpeRatio20
0,000001.SZ,20170103,NaN,NaN,NaN,NaN
1,000001.SZ,20170104,NaN,NaN,NaN,NaN
2,000001.SZ,20170105,NaN,NaN,NaN,NaN
3,000001.SZ,20170106,NaN,NaN,NaN,NaN
4,000001.SZ,20170109,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
358817,688981.SH,20220627,2.889425,0.709670,-0.037997,0.213380
358818,688981.SH,20220628,2.987565,0.518057,-0.402464,0.269694
358819,688981.SH,20220629,3.141219,0.665605,-0.222399,0.152891
358820,688981.SH,20220630,3.126740,0.641438,-0.222252,0.162442
358821,688981.SH,20220701,2.344698,0.579646,-0.262424,0.026365

In [8]:
fa['ANN_DT'] = pd.to_datetime(fa['ANN_DT'], format='%Y%m%d')
trade['TRADE_DT'] = pd.to_datetime(trade['TRADE_DT'], format='%Y%m%d')
value['TRADE_DT'] = pd.to_datetime(value['TRADE_DT'], format='%Y%m%d')
risk['TRADE_DT'] = pd.to_datetime(risk['TRADE_DT'], format='%Y%m%d')
ten['date'] = pd.to_datetime(ten['date'], format='%Y-%m-%d')

In [9]:
risk = risk[['S_INFO_WINDCODE', 'TRADE_DT', 'Skewness20', 'SharpeRatio20']]
risk

       S_INFO_WINDCODE   TRADE_DT  Skewness20  SharpeRatio20
0            000001.SZ 2017-01-03         NaN            NaN
1            000001.SZ 2017-01-04         NaN            NaN
2            000001.SZ 2017-01-05         NaN            NaN
3            000001.SZ 2017-01-06         NaN            NaN
4            000001.SZ 2017-01-09         NaN            NaN
...                ...        ...         ...            ...
358817       688981.SH 2022-06-27    0.709670       0.213380
358818       688981.SH 2022-06-28    0.518057       0.269694
358819       688981.SH 2022-06-29    0.665605       0.152891
358820       688981.SH 2022-06-30    0.641438       0.162442
358821       688981.SH 2022-07-01    0.579646       0.026365

[358822 rows x 4 columns]

In [10]:
value

,S_INFO_WINDCODE,TRADE_DT,S_VAL_PE,S_VAL_PB_NEW,S_VAL_PS,S_DQ_TURN,S_DQ_MV,NET_ASSETS_TODAY
0,000725.SZ,2017-01-01,0.261961,-0.905139,-0.630770,NaN,0.459306,1.695956
1,600760.SH,2017-01-01,0.662752,2.283550,-0.217562,NaN,-0.925563,-0.991142
2,600763.SH,2017-01-01,0.131530,2.283550,1.927661,NaN,-0.834005,-0.971199
3,600795.SH,2017-01-01,-0.842233,-0.954208,-0.837496,NaN,0.315850,0.852581
4,600809.SH,2017-01-01,-0.202278,0.387646,0.078660,NaN,-0.590608,-0.843126
...,...,...,...,...,...,...,...,...
539773,000166.SZ,2022-07-01,-0.802907,-0.877084,-0.426909,-1.017058,-0.035662,0.943279
539774,601998.SH,2022-07-01,-1.034251,-1.035514,-0.821468,-1.224804,0.869676,1.880144
539775,600837.SH,2022-07-01,-0.848232,-0.956443,-0.458201,-0.934757,-0.163523,1.880144
539776,002821.SZ,2022-07-01,1.109421,0.190038,1.976158,0.816402,-0.437179,-0.789256
539777,688981.SH,2022-07-01,-0.098822,-0.385660,0.950156,-0.349829,-0.196625,1.282125

In [11]:
value = value[['S_INFO_WINDCODE', 'TRADE_DT', 'S_VAL_PS', 'NET_ASSETS_TODAY']]
value

       S_INFO_WINDCODE   TRADE_DT  S_VAL_PS  NET_ASSETS_TODAY
0            000725.SZ 2017-01-01 -0.630770          1.695956
1            600760.SH 2017-01-01 -0.217562         -0.991142
2            600763.SH 2017-01-01  1.927661         -0.971199
3            600795.SH 2017-01-01 -0.837496          0.852581
4            600809.SH 2017-01-01  0.078660         -0.843126
...                ...        ...       ...               ...
539773       000166.SZ 2022-07-01 -0.426909          0.943279
539774       601998.SH 2022-07-01 -0.821468          1.880144
539775       600837.SH 2022-07-01 -0.458201          1.880144
539776       002821.SZ 2022-07-01  1.976158         -0.789256
539777       688981.SH 2022-07-01  0.950156          1.282125

[539778 rows x 4 columns]

In [12]:
trade

,S_INFO_WINDCODE,TRADE_DT,VOL20,VSTD20,TVMA20,WVAD
0,000001.SZ,2017-01-03,NaN,NaN,18.194685,NaN
1,000001.SZ,2017-01-04,NaN,NaN,17.806257,NaN
2,000001.SZ,2017-01-05,NaN,NaN,22.381400,NaN
3,000001.SZ,2017-01-06,NaN,NaN,17.602302,NaN
4,000001.SZ,2017-01-09,NaN,NaN,20.102594,NaN
...,...,...,...,...,...,...
358817,688981.SH,2022-06-27,1.067315,79350.638919,107.702769,72692.849510
358818,688981.SH,2022-06-28,1.094675,75677.988273,58.251665,117746.262193
358819,688981.SH,2022-06-29,1.096835,75659.098171,45.675991,35367.644853
358820,688981.SH,2022-06-30,1.097850,75521.050894,57.441027,151571.017484
358821,688981.SH,2022-07-01,1.033875,63610.091030,128.996664,77549.748666

In [13]:
trade = trade[['S_INFO_WINDCODE', 'TRADE_DT', 'VOL20', 'WVAD']]
trade

       S_INFO_WINDCODE   TRADE_DT     VOL20           WVAD
0            000001.SZ 2017-01-03       NaN            NaN
1            000001.SZ 2017-01-04       NaN            NaN
2            000001.SZ 2017-01-05       NaN            NaN
3            000001.SZ 2017-01-06       NaN            NaN
4            000001.SZ 2017-01-09       NaN            NaN
...                ...        ...       ...            ...
358817       688981.SH 2022-06-27  1.067315   72692.849510
358818       688981.SH 2022-06-28  1.094675  117746.262193
358819       688981.SH 2022-06-29  1.096835   35367.644853
358820       688981.SH 2022-06-30  1.097850  151571.017484
358821       688981.SH 2022-07-01  1.033875   77549.748666

[358822 rows x 4 columns]

In [14]:
fa

,S_INFO_WINDCODE,ANN_DT,REPORT_PERIOD,S_FA_FCFF,S_FA_EPS_BASIC,S_FA_BPS,S_FA_ORPS,S_FA_NETPROFITMARGIN,S_FA_GCTOGR,S_FA_ROE,S_FA_OPERATEINCOMETOEBT,S_FA_CATOASSETS,S_FA_CURRENT,S_FA_QUICK,S_FA_FATURN,S_FA_OPTOLIQDEBT,S_FA_PROFITTOOP
0,601066.SH,2018-01-30,20141231,1.075437e+10,0.5600,2.7326,1.4078,39.5715,NaN,22.8973,57.0586,NaN,1.4200,NaN,NaN,NaN,52.9067
1,601236.SH,2017-07-14,20141231,NaN,0.2300,2.9832,0.5884,39.3452,NaN,8.0065,3.1872,NaN,NaN,NaN,NaN,NaN,53.1141
2,601916.SH,2017-11-10,20141231,-1.322175e+11,0.4400,2.8809,1.5017,29.4881,NaN,16.7179,97.1341,NaN,0.4730,NaN,NaN,NaN,39.3072
3,600025.SH,2017-11-06,20141231,-2.953887e+08,0.3000,1.8669,1.0202,30.7068,72.5973,16.3081,83.4878,2.7754,0.1099,0.1090,0.1570,0.1174,32.8224
4,601838.SH,2017-12-19,20141231,-1.654588e+10,1.0900,5.5786,2.8087,38.9030,NaN,21.2777,88.1908,NaN,0.4582,NaN,NaN,NaN,50.1118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6525,600018.SH,2022-04-30,20220331,2.790258e+08,0.2371,4.5235,0.5332,46.2482,64.6925,5.3578,63.8439,26.6817,2.7325,1.9701,0.3889,0.4216,55.3028
6526,601186.SH,2022-04-30,20220331,-6.251655e+10,0.3640,15.5031,19.4762,2.4354,97.0716,2.0720,99.9741,68.2397,1.1093,0.7801,4.3024,0.0086,2.9291
6527,601155.SH,2022-04-30,20220331,-5.720732e+09,0.2300,26.4264,8.2514,3.0141,95.8495,0.8549,92.6866,72.0633,1.0737,0.3511,10.3788,0.0022,4.4780
6528,600061.SH,2022-04-30,20220331,1.721694e+10,0.0100,7.1990,0.0328,96.9237,63.7204,0.1287,499.1077,78.5497,1.2593,1.2586,7.5080,0.0017,7.2689
6529,688981.SH,2022-05-13,20220331,-7.201328e+09,0.3600,14.1969,1.4993,30.5274,72.3902,2.5681,89.6580,42.5199,3.4916,3.2029,0.1781,0.1259,30.7946

In [15]:
fa=fa[['S_INFO_WINDCODE', 'ANN_DT','S_FA_ROE', 'S_FA_OPERATEINCOMETOEBT', 'S_FA_QUICK']]
fa = fa.sort_values(by='ANN_DT')
fa

     S_INFO_WINDCODE     ANN_DT  S_FA_ROE  S_FA_OPERATEINCOMETOEBT  S_FA_QUICK
263        300595.SZ 2017-01-04   15.6743                  87.7851      4.7250
774        300595.SZ 2017-01-04   37.9008                  89.3271      9.6176
773        300595.SZ 2017-01-04   19.7529                  88.7539      7.6877
775        300595.SZ 2017-01-04   40.0395                  89.6675      5.5669
776        300595.SZ 2017-01-04   32.4243                  91.4384      2.5982
...              ...        ...       ...                      ...         ...
6460       601658.SH 2022-04-30    3.0532                  74.4382         NaN
6459       601881.SH 2022-04-30    1.5519                -132.6712         NaN
6458       601688.SH 2022-04-30    1.4681                   4.3141         NaN
6481       002179.SZ 2022-04-30    4.7801                  95.2331      1.8668
6529       688981.SH 2022-05-13    2.5681                  89.6580      3.2029

[6530 rows x 5 columns]

In [16]:
# 将'ten'和'risk'合并
merged_df = pd.merge(ten, risk, left_on=['stk', 'date'], right_on=['S_INFO_WINDCODE', 'TRADE_DT'], how='outer', suffixes=('_ten', '_risk'))

# 将'value'合并
merged_df = pd.merge(merged_df, value, left_on=['stk', 'date'], right_on=['S_INFO_WINDCODE', 'TRADE_DT'], how='outer', suffixes=('', '_value'))

# 将'trade'合并
merged_df = pd.merge(merged_df, trade, left_on=['stk', 'date'], right_on=['S_INFO_WINDCODE', 'TRADE_DT'], how='outer', suffixes=('', '_trade'))

# 将'fa'合并
merged_df = pd.merge(merged_df, fa, left_on=['stk', 'date'], right_on=['S_INFO_WINDCODE', 'ANN_DT'], how='outer', suffixes=('', '_fa'))

# 去掉重复的股票代码和交易日期列
merged_df = merged_df.loc[:,~merged_df.columns.duplicated()]
merged_df = merged_df.drop(['ANN_DT', 'S_INFO_WINDCODE','S_INFO_WINDCODE_fa','S_INFO_WINDCODE_trade','S_INFO_WINDCODE_value','TRADE_DT','TRADE_DT_trade','TRADE_DT_value'], axis=1)

# 打印合并后的 DataFrame
merged_df

,ret,stk,date,pb,mv,rf,MarketCapRank,PB_Ratio,Size_Group,PB_Group,...,rmxrf,Skewness20,SharpeRatio20,S_VAL_PS,NET_ASSETS_TODAY,VOL20,WVAD,S_FA_ROE,S_FA_OPERATEINCOMETOEBT,S_FA_QUICK
0,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.557,59.0,-0.774647,Small,Low,...,-2.9197,0.690022,0.136577,-0.999361,-0.119789,0.89972,-900067.465,NaN,NaN,NaN
1,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.557,59.0,-0.774647,Small,Low,...,-2.9197,0.690022,0.136577,-0.999361,-0.119789,0.89972,-900067.465,NaN,NaN,NaN
2,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.582,59.0,-0.774647,Small,Low,...,-2.9447,0.690022,0.136577,-0.999361,-0.119789,0.89972,-900067.465,NaN,NaN,NaN
3,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.665,59.0,-0.774647,Small,Low,...,-3.0277,0.690022,0.136577,-0.999361,-0.119789,0.89972,-900067.465,NaN,NaN,NaN
4,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.679,59.0,-0.774647,Small,Low,...,-3.0417,0.690022,0.136577,-0.999361,-0.119789,0.89972,-900067.465,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279810,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0532,74.4382,NaN
1279811,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.5519,-132.6712,NaN
1279812,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.4681,4.3141,NaN
1279813,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.7801,95.2331,1.8668
1279814,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5681,89.6580,3.2029

In [17]:
merged_df.dropna(inplace=True)
merged_df

,ret,stk,date,pb,mv,rf,MarketCapRank,PB_Ratio,Size_Group,PB_Group,...,rmxrf,Skewness20,SharpeRatio20,S_VAL_PS,NET_ASSETS_TODAY,VOL20,WVAD,S_FA_ROE,S_FA_OPERATEINCOMETOEBT,S_FA_QUICK
1458,0.008043,000425.SZ,2017-10-31,-0.941670,-0.494761,2.3330,33.0,-0.941670,Small,Low,...,-2.2444,-0.042410,0.145055,-0.815283,-0.202858,0.465230,858040.316762,3.5128,78.8758,1.2767
1459,0.008043,000425.SZ,2017-10-31,-0.941670,-0.494761,2.3140,33.0,-0.941670,Small,Low,...,-2.2254,-0.042410,0.145055,-0.815283,-0.202858,0.465230,858040.316762,3.5128,78.8758,1.2767
1460,0.008043,000425.SZ,2017-10-31,-0.941670,-0.494761,2.5210,33.0,-0.941670,Small,Low,...,-2.4324,-0.042410,0.145055,-0.815283,-0.202858,0.465230,858040.316762,3.5128,78.8758,1.2767
1461,0.008043,000425.SZ,2017-10-31,-0.941670,-0.494761,2.5230,33.0,-0.941670,Small,Low,...,-2.4344,-0.042410,0.145055,-0.815283,-0.202858,0.465230,858040.316762,3.5128,78.8758,1.2767
1462,0.008043,000425.SZ,2017-10-31,-0.941670,-0.494761,2.2520,33.0,-0.941670,Small,Low,...,-2.1634,-0.042410,0.145055,-0.815283,-0.202858,0.465230,858040.316762,3.5128,78.8758,1.2767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16696,0.008029,002352.SZ,2018-08-24,-0.041137,2.117032,2.8275,207.5,-0.041137,Big,High,...,-2.6511,1.548182,-0.127214,-0.446392,0.024320,0.223235,5752.834087,6.7137,91.0218,1.2995
16697,0.008029,002352.SZ,2018-08-24,-0.041137,2.117032,2.8302,207.5,-0.041137,Big,High,...,-2.6538,1.548182,-0.127214,-0.446392,0.024320,0.223235,5752.834087,6.7137,91.0218,1.2995
16698,0.008029,002352.SZ,2018-08-24,-0.041137,2.117032,2.8320,207.5,-0.041137,Big,High,...,-2.6556,1.548182,-0.127214,-0.446392,0.024320,0.223235,5752.834087,6.7137,91.0218,1.2995
16699,0.008029,002352.SZ,2018-08-24,-0.041137,2.117032,2.8250,207.5,-0.041137,Big,High,...,-2.6486,1.548182,-0.127214,-0.446392,0.024320,0.223235,5752.834087,6.7137,91.0218,1.2995
16700,0.008029,002352.SZ,2018-08-24,-0.041137,2.117032,2.8317,207.5,-0.041137,Big,High,...,-2.6553,1.548182,-0.127214,-0.446392,0.024320,0.223235,5752.834087,6.7137,91.0218,1.2995

In [18]:
# 将'ten'和'risk'合并
merged_df1 = pd.merge(ten, risk, left_on=['stk', 'date'], right_on=['S_INFO_WINDCODE', 'TRADE_DT'], how='outer', suffixes=('_ten', '_risk'))

# 将'value'合并
merged_df1 = pd.merge(merged_df1, value, left_on=['stk', 'date'], right_on=['S_INFO_WINDCODE', 'TRADE_DT'], how='outer', suffixes=('', '_value'))

# 将'trade'合并
merged_df1 = pd.merge(merged_df1, trade, left_on=['stk', 'date'], right_on=['S_INFO_WINDCODE', 'TRADE_DT'], how='outer', suffixes=('', '_trade'))

merged_df1 = merged_df1.loc[:,~merged_df1.columns.duplicated()]
merged_df1 = merged_df1.filter(regex='^(?!S_INFO_WINDCODE$|TRADE_DT$).*$')

merged_df1

,ret,stk,date,pb,mv,rf,MarketCapRank,PB_Ratio,Size_Group,PB_Group,...,Skewness20,SharpeRatio20,S_INFO_WINDCODE_value,TRADE_DT_value,S_VAL_PS,NET_ASSETS_TODAY,S_INFO_WINDCODE_trade,TRADE_DT_trade,VOL20,WVAD
0,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.557,59.0,-0.774647,Small,Low,...,0.690022,0.136577,000100.SZ,2017-03-03,-0.999361,-0.119789,000100.SZ,2017-03-03,0.899720,-900067.465000
1,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.557,59.0,-0.774647,Small,Low,...,0.690022,0.136577,000100.SZ,2017-03-03,-0.999361,-0.119789,000100.SZ,2017-03-03,0.899720,-900067.465000
2,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.582,59.0,-0.774647,Small,Low,...,0.690022,0.136577,000100.SZ,2017-03-03,-0.999361,-0.119789,000100.SZ,2017-03-03,0.899720,-900067.465000
3,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.665,59.0,-0.774647,Small,Low,...,0.690022,0.136577,000100.SZ,2017-03-03,-0.999361,-0.119789,000100.SZ,2017-03-03,0.899720,-900067.465000
4,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.679,59.0,-0.774647,Small,Low,...,0.690022,0.136577,000100.SZ,2017-03-03,-0.999361,-0.119789,000100.SZ,2017-03-03,0.899720,-900067.465000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1273286,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,688981.SH,2022-06-27,1.067315,72692.849510
1273287,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,688981.SH,2022-06-28,1.094675,117746.262193
1273288,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,688981.SH,2022-06-29,1.096835,35367.644853
1273289,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,688981.SH,2022-06-30,1.097850,151571.017484
1273290,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaN,NaN,688981.SH,2022-07-01,1.033875,77549.748666

In [19]:
merged_df1.dropna(inplace=True)
merged_df1

,ret,stk,date,pb,mv,rf,MarketCapRank,PB_Ratio,Size_Group,PB_Group,...,Skewness20,SharpeRatio20,S_INFO_WINDCODE_value,TRADE_DT_value,S_VAL_PS,NET_ASSETS_TODAY,S_INFO_WINDCODE_trade,TRADE_DT_trade,VOL20,WVAD
0,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.557,59.0,-0.774647,Small,Low,...,0.690022,0.136577,000100.SZ,2017-03-03,-0.999361,-0.119789,000100.SZ,2017-03-03,0.899720,-900067.465000
1,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.557,59.0,-0.774647,Small,Low,...,0.690022,0.136577,000100.SZ,2017-03-03,-0.999361,-0.119789,000100.SZ,2017-03-03,0.899720,-900067.465000
2,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.582,59.0,-0.774647,Small,Low,...,0.690022,0.136577,000100.SZ,2017-03-03,-0.999361,-0.119789,000100.SZ,2017-03-03,0.899720,-900067.465000
3,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.665,59.0,-0.774647,Small,Low,...,0.690022,0.136577,000100.SZ,2017-03-03,-0.999361,-0.119789,000100.SZ,2017-03-03,0.899720,-900067.465000
4,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.679,59.0,-0.774647,Small,Low,...,0.690022,0.136577,000100.SZ,2017-03-03,-0.999361,-0.119789,000100.SZ,2017-03-03,0.899720,-900067.465000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17442,-0.036284,601898.SH,2021-08-03,-1.061111,0.093098,2.230,55.5,-1.061111,Small,Low,...,0.270324,-0.057905,601898.SH,2021-08-03,-0.932246,1.372878,601898.SH,2021-08-03,0.435295,-671887.275399
17443,-0.036284,601898.SH,2021-08-03,-1.061111,0.093098,2.209,55.5,-1.061111,Small,Low,...,0.270324,-0.057905,601898.SH,2021-08-03,-0.932246,1.372878,601898.SH,2021-08-03,0.435295,-671887.275399
17444,-0.036284,601898.SH,2021-08-03,-1.061111,0.093098,2.172,55.5,-1.061111,Small,Low,...,0.270324,-0.057905,601898.SH,2021-08-03,-0.932246,1.372878,601898.SH,2021-08-03,0.435295,-671887.275399
17445,-0.036284,601898.SH,2021-08-03,-1.061111,0.093098,2.130,55.5,-1.061111,Small,Low,...,0.270324,-0.057905,601898.SH,2021-08-03,-0.932246,1.372878,601898.SH,2021-08-03,0.435295,-671887.275399
17446,-0.036284,601898.SH,2021-08-03,-1.061111,0.093098,2.112,55.5,-1.061111,Small,Low,...,0.270324,-0.057905,601898.SH,2021-08-03,-0.932246,1.372878,601898.SH,2021-08-03,0.435295,-671887.275399

In [20]:
merged_df1 = merged_df1.drop(['S_INFO_WINDCODE_trade','S_INFO_WINDCODE_value','TRADE_DT_trade','TRADE_DT_value'], axis=1)
merged_df1

,ret,stk,date,pb,mv,rf,MarketCapRank,PB_Ratio,Size_Group,PB_Group,...,HML,ret_rf,rm,rmxrf,Skewness20,SharpeRatio20,S_VAL_PS,NET_ASSETS_TODAY,VOL20,WVAD
0,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.557,59.0,-0.774647,Small,Low,...,2.536882,-2.559786,-0.3627,-2.9197,0.690022,0.136577,-0.999361,-0.119789,0.899720,-900067.465000
1,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.557,59.0,-0.774647,Small,Low,...,2.536882,-2.559786,-0.3627,-2.9197,0.690022,0.136577,-0.999361,-0.119789,0.899720,-900067.465000
2,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.582,59.0,-0.774647,Small,Low,...,2.536882,-2.584786,-0.3627,-2.9447,0.690022,0.136577,-0.999361,-0.119789,0.899720,-900067.465000
3,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.665,59.0,-0.774647,Small,Low,...,2.536882,-2.667786,-0.3627,-3.0277,0.690022,0.136577,-0.999361,-0.119789,0.899720,-900067.465000
4,-0.002786,000100.SZ,2017-03-03,-0.774647,-0.372721,2.679,59.0,-0.774647,Small,Low,...,2.536882,-2.681786,-0.3627,-3.0417,0.690022,0.136577,-0.999361,-0.119789,0.899720,-900067.465000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17442,-0.036284,601898.SH,2021-08-03,-1.061111,0.093098,2.230,55.5,-1.061111,Small,Low,...,2.048176,-2.266284,-0.4703,-2.7003,0.270324,-0.057905,-0.932246,1.372878,0.435295,-671887.275399
17443,-0.036284,601898.SH,2021-08-03,-1.061111,0.093098,2.209,55.5,-1.061111,Small,Low,...,2.048176,-2.245284,-0.4703,-2.6793,0.270324,-0.057905,-0.932246,1.372878,0.435295,-671887.275399
17444,-0.036284,601898.SH,2021-08-03,-1.061111,0.093098,2.172,55.5,-1.061111,Small,Low,...,2.048176,-2.208284,-0.4703,-2.6423,0.270324,-0.057905,-0.932246,1.372878,0.435295,-671887.275399
17445,-0.036284,601898.SH,2021-08-03,-1.061111,0.093098,2.130,55.5,-1.061111,Small,Low,...,2.048176,-2.166284,-0.4703,-2.6003,0.270324,-0.057905,-0.932246,1.372878,0.435295,-671887.275399
17446,-0.036284,601898.SH,2021-08-03,-1.061111,0.093098,2.112,55.5,-1.061111,Small,Low,...,2.048176,-2.148284,-0.4703,-2.5823,0.270324,-0.057905,-0.932246,1.372878,0.435295,-671887.275399

In [21]:
merged_df1.to_csv('C:\\Users\\10200\\Desktop\\FIN3210\\project\\Q2_merged.csv', index=False)

In [2]:
import os
import pandas as pd

data_path = '/Users/ryan/Documents/GitHub/CUHKSZ-Course-Projects/FIN 3210/data'
os.chdir(data_path)
merged_df1 = pd.read_csv('Q2_merged.csv')

# 通过cross validation 调整参数α

In [3]:
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler

# 假设merged_df1是你的数据框
# 选择要用作X和y的列
x_columns = ['rmxrf', 'SMB', 'HML', 'Skewness20', 'SharpeRatio20', 'S_VAL_PS', 'NET_ASSETS_TODAY', 'VOL20', 'WVAD']
y_column = 'ret_rf'

# 提取X和y
X = merged_df1[x_columns]
y = merged_df1[y_column]

# 数据标准化
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# 创建Lasso回归模型
lasso_model = Lasso()

# 设置alpha的候选值
alphas = np.logspace(-8, 4, 9)

# 设置交叉验证折数
cv = KFold(n_splits=5, shuffle=True, random_state=42)

# 设置参数网格
param_grid = {'alpha': alphas}

# 创建GridSearchCV对象
grid_search = GridSearchCV(lasso_model, param_grid, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)

# 在整个数据集上拟合GridSearchCV对象
grid_search.fit(X_scaled, y)

# 输出最佳参数值
best_alpha = grid_search.best_params_['alpha']
print("best_alpha:", best_alpha)

# 输出最佳模型
best_model = grid_search.best_estimator_
print("best_model:", best_model)

# 输出最佳模型的系数
best_coefficients = pd.Series(best_model.coef_, index=x_columns)
print("best_coefficients:")
print(best_coefficients)

best_alpha: 0.00031622776601683794
best_model: Lasso(alpha=0.00031622776601683794)
best_coefficients:
rmxrf               0.325078
SMB                 0.032813
HML                 0.004217
Skewness20          0.017783
SharpeRatio20      -0.004702
S_VAL_PS           -0.000155
NET_ASSETS_TODAY    0.013644
VOL20               0.020019
WVAD               -0.005447
dtype: float64

In [5]:
## 对比参数α的为0.01和0.00031622776601683794时的模型表现

from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# 假设 merged_df1 是你的数据框
# 选择要用作 X 和 y 的列
x_columns = ['rmxrf', 'SMB', 'HML', 'Skewness20', 'SharpeRatio20', 'S_VAL_PS', 'NET_ASSETS_TODAY', 'VOL20', 'WVAD']
y_column = 'ret_rf'

# 提取 X 和 y
X = merged_df1[x_columns]
y = merged_df1[y_column]

# 数据标准化
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# 划分数据集为训练集和测试集
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# 不同的 alpha 值
alpha_values = [0.01, 0.00031622776601683794]

for alpha in alpha_values:
    # 创建 Lasso 回归模型
    lasso_model = Lasso(alpha=alpha)

    # 拟合模型
    lasso_model.fit(X_train, y_train)

    # 输出模型系数
    coefficients = pd.Series(lasso_model.coef_, index=x_columns)
    print(f"\n在 alpha={alpha} 时的系数:")
    print(coefficients)

    # 在测试集上进行预测
    y_pred = lasso_model.predict(X_test)

    # 计算均方误差 (MSE)
    mse = mean_squared_error(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    print(f"在 alpha={alpha} 时的均方误差 (MSE): {mse}")
    print(f"在 alpha={alpha} 时的MAE: {mae}")
    print(f"在 alpha={alpha} 时的R^2: {r2}")

在 alpha=0.01 时的系数:
rmxrf               0.313935
SMB                 0.024732
HML                 0.000000
Skewness20          0.006927
SharpeRatio20       0.000000
S_VAL_PS           -0.000000
NET_ASSETS_TODAY    0.000000
VOL20               0.004198
WVAD               -0.000000
dtype: float64
在 alpha=0.01 时的均方误差 (MSE): 0.1613314537182729
在 alpha=0.01 时的MAE: 0.33575230339057255
在 alpha=0.01 时的R^2: 0.39969876395512904

在 alpha=0.00031622776601683794 时的系数:
rmxrf               0.325714
SMB                 0.033564
HML                 0.004088
Skewness20          0.017582
SharpeRatio20      -0.004097
S_VAL_PS           -0.000000
NET_ASSETS_TODAY    0.014987
VOL20               0.021421
WVAD               -0.006190
dtype: float64
在 alpha=0.00031622776601683794 时的均方误差 (MSE): 0.1610410792065184
在 alpha=0.00031622776601683794 时的MAE: 0.3354856646338284
在 alpha=0.00031622776601683794 时的R^2: 0.4007792239293293